@use '../base/variables' as v;
@use '../base/mixins' as m;


// NAVBAR
.navbar {

    background-color: v.$accent-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

    @include m.breakpoint-up(lg) {
        padding: 0;
    }

    //BRAND
    .navbar-brand {
        padding: 0 0.7rem;
        font-size: 1.5rem;
        font-weight: 700;

        @include m.breakpoint-up(lg){
            padding: 0;
        }
    }

    // ICON MENU NAVBAR
    .navbar-toggler {
        padding: 0 0.6rem;
        box-shadow: none !important;
        border: none;
    }

    // COLOR LINKS
    .navbar-nav {

        .nav-item {

            .nav-link {
                color: v.$white;
                padding: 0.8rem;
                font-size: 1.2em;
                transition: all .6s;

                @include m.breakpoint-up(lg){

                    padding: 1em 0.7em;

                    &:hover {
                        background-color: v.$primary-color;
                        color: v.$white;
                    }
                }

            }

        }

        //DROPDOWN
        .dropdown-menu {
            animation: .5s slideup;

            &.show{
                margin: .2rem .8rem;

                @include m.breakpoint-up(lg){
                    margin: .2rem 0;
                }
            }

            .dropdown-item {
                color: v.$accent-color;
            }
        }

    }

    .button-navbar{
        padding: 0 0.8em;
    }
    
}

// END NAVBAR